/* font import ----------------------------------------------------------*/

@font-face {
  font-family: hihi;
  src: url(./CabinetGrotesk-Extrabold.otf);
}
@font-face {
  font-family: hihihi;
  src: url(./Century-Gothic-Bold.ttf);
}
@font-face {
  font-family: hihihihi;
  src: url(./BrittanySignature.ttf);
}
@font-face {
  font-family: thin;
  src: url(./montserrat.extralight.ttf);
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 113%;
  width: 100%;
  background-color: #f5f3ee;
}

/* for icons -------------------------------------------------------------------*/
i {
  font-size: 25px;
  position: relative;
  top: -18%;
}
.icondiv {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  top: -18%;
  left: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icondiv i {
  color: rgb(243, 236, 222);
  position: relative;
  top: 0%;
  font-size: 15px;
}

/* main -----------------------------------------------------------------------*/
main {
  height: 100%;
  width: 100%;
  margin-left: 20px;
  /* background-color: rgb(3, 1, 1); */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2.5fr 2fr 2fr 2fr;
  gap: 10px;
  grid-template-areas:
    "logo center-nav center-nav center-nav right-nav"
    "main-heading main-heading main-heading main-heading main-heading"
    "img-leftmost img-lefttop img-center img-righttop img-rightmost"
    "img-leftmost img-leftbottom img-center img-rightbottom img-rightmost"
    "f-left f-left f-center f-right f-right";
}

/* nav -----------------------------------------------------------------------*/
.logo {
  height: 100%;
  width: 100%;

  grid-area: logo;
  text-align: center;
  align-content: center;
}
.logo h1 {
  position: relative;
  top: -19%;
  left: -2%;
  font-family: hihihi;
  font-size: x-large;
}

img {
  border-radius: 25px;
}

.center-nav {
  height: 100%;
  width: 100%;

  grid-area: center-nav;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;
}
.center-nav p {
  color: #2c2c2c;
  position: relative;
  top: -15%;
  left: -2%;
  font-family: "General Sans", sans-serif;
  font-size: medium;
}

.right-nav {
  height: 100%;
  width: 100%;

  grid-area: right-nav;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


/* section -------------------------------------------------------------------*/

.main-heading {
  height: 100%;
  width: 100%;
  grid-area: main-heading;
  text-align: center;
  align-content: center;
}
.main-heading h1 {
  color: #171717;
  position: relative;
  top: -8%;
  left: 1%;
  font-size: 64px;
  line-height: 0.98;
  font-family: hihi;
  letter-spacing: 1px;
}


/* images -------------------------------------------------------------------*/

.img-leftmost {
  height: 100%;
  width: 100%;

  grid-area: img-leftmost;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-leftmost img {
  height: 195px;
  width: 180px;
  position: relative;
  top: -1%;
  left: 9%;
}
.img-lefttop {
  height: 100%;
  width: 100%;

  grid-area: img-lefttop;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-lefttop img {
  height: 138px;
  width: 180px;
  position: relative;
  top: -26%;
  left: 3%;
}
.img-leftbottom {
  height: 100%;
  width: 100%;

  grid-area: img-leftbottom;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.img-leftbottom img {
  height: 195px;
  width: 180px;
  position: relative;
  top: -15%;
  left: 3%;
}

.img-center {
  height: 100%;
  width: 100%;

  grid-area: img-center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-center img {
  height: 410px;
  width: 215px;
  position: relative;
  top: -2%;
  left: 2%;
}

.img-righttop {
  height: 100%;
  width: 100%;

  grid-area: img-righttop;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-righttop img {
  height: 195px;
  width: 178px;
  position: relative;
  top: 5%;
  left: 0%;
}
.img-rightbottom {
  height: 100%;
  width: 100%;

  grid-area: img-rightbottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img-rightbottom img {
  height: 138px;
  width: 178px;
  position: relative;
  top: -10%;
  left: 0%;
}
.img-rightmost {
  height: 100%;
  width: 100%;

  grid-area: img-rightmost;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-rightmost img {
  height: 192px;
  width: 170px;
  position: relative;
  top: -2%;
  left: -12%;
}


/* footer ----------------------------------------------------------------*/

.f-left {
  height: 100%;
  width: 100%;

  grid-area: f-left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 30px;
  padding-bottom: 10px;
}
.f-left p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
  font-size: small;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  top: -5%;
}
.f-left h1 {
  color: #111111;
  font-family: hihihihi;
}

.f-center {
  height: 100%;
  width: 100%;

  grid-area: f-center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-center button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.2);
  font-size: x-small;
  font-weight: 600;
}
button i {
  vertical-align: middle;
  position: relative;
  top: 5%;
}

.f-right {
  height: 100%;
  width: 100%;

  grid-area: f-right;
  display: flex;
  align-items: center;
  padding-left: 60px;
  gap: 10px;
}
.f-right p {
  font-family: thin;
  font-size: xxx-large;
  font-weight: 1px;
}
.f-right h2 {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 500;
}


/* decoratives -----------------------------------------------------------*/
.aerro {
  height: 50px;
  width: 50px;
  background-color: #111111;
  border-radius: 50%;
  margin-left: 20px;
}

.aerro i {
  color: bisque;
  position: relative;
  top: 20%;
  left: 30%;
}

.flower {
  opacity: 0.8;
  position: absolute;
  top: 18%;
  left: 6%;
  font-size: 50px;
}
.flower2 {
  position: absolute;
  top: 18%;
  left: 90%;
  font-size: 50px;
}

.flower3 {
  position: absolute;
  top: 105%;
  left: 35%;
  font-size: 50px;
}

.flower4 {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 95%;
  left: 90%;
  font-size: 50px;
  opacity: 0.8;
}

.decorative-quote {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 94%;
  left: 6%;
  font-size: 70px;
}

.trend {
  position: absolute;
  top: 40%;
  left: 7%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
  color: #171717;
}

.star-container {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 38%;
  left: 50%;
}

.star-icon {
  width: 50px;
  height: 80px;
}
